# Datos sensibles
.env

# Basura de Python
__pycache__/
*.pyc

# Archivos temporales o generados
static/
log/
*.log
*.old
notas.txt

# Entornos virtuales
venv/

# Archivos del sistema
.DS_Store
Thumbs.db