# Datos sensibles
.env
.env.*

# Basura de Python
__pycache__/
*.pyc

# Archivos temporales o generados
static/
log/
*.log
*.old
notas.txt

# Entornos virtuales
venv/

# Archivos del sistema
.DS_Store
Thumbs.db

# Ficheros datos
*data/uploads/*.csv
*data/*.duckdb

*data/data_develop/*
*data/data_staging/*
*data/data_main/*